.header {
  position: sticky;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  padding: 5px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: rgba(196, 196, 196, 0.2);
  z-index: 1;
  height: 4em;
  padding-right: 1em;
}
.header.hide {
  transform: translateY(-100%);
}

.container-self {
  justify-content: center;
}

.btn-blue {
  right: 0px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #3C00E7;
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  color: white;
  font-size: 12px;
  padding-left: 12px;
  padding-right: 12px;
  // font-family: Playfair-Display;
}

.frm-btn {
  display: flex;
  align-items: center;
  flex-direction: row;
}

@media only screen and (max-width: 320px) {
  .cards {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
  }
  .card-container {
    height: 75px;
    margin-bottom: 10px;
  }

  .card-container .card-container-infos {
    padding: 10px;
  }

  .cover-image {
    width: 75px;
  }

  .card-container h2 {
    font-size: 12px;
  }

  .card-container p {
    font-size: 10px;
  }

  .header {
    margin-bottom: 10px;
  }

  .btn-blue {
    font-size: 10px;
  }
}

@media only screen and (min-width: 425px) {
  .cards {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 80px;
  }
  .card-container {
    height: 125px;
    margin-bottom: 20px;
  }

  .cover-image {
    width: 125px;
  }

  .card-container h2 {
    font-size: 15px;
  }

  .card-container p {
    font-size: 13px;
  }

  .btn-blue {
    font-size: 12px;
    padding: 2px 16px;
  }

  .header {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 576px) {
  .cards {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 110px;
  }
  .card-container {
    height: 175px;
    margin-bottom: 50px;
  }

  .card-container .card-container-infos {
    padding: 20px;
  }

  .cover-image {
    width: 175px;
  }

  .card-container h2 {
    font-size: 20px;
  }

  .card-container p {
    font-size: 17px;
  }

  .header {
    margin-bottom: 50px;
  }

  .btn-blue {
    font-size: 17px;
    padding: 3px 22px;
  }
}

@media only screen and (min-width: 850px) {
  .cards {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 110px;
  }
  .card-container {
    height: 175px;
    margin-bottom: 50px;
  }

  .card-container .card-container-infos {
    padding: 40px;
  }

  .cover-image {
    width: 175px;
  }

  .card-container h2 {
    font-size: 24px;
  }

  .card-container p {
    font-size: 20px;
  }

  .header {
    margin-bottom: 50px;
  }

  .btn-blue {
    font-size: 24px;
    padding: 3px 24px;
    border-radius: 12px;
  }
}
// .btn-blue {
//  position: absolute;
//  left: 276px;
//  padding-left: 12px;
//  padding-right: 12px;
//  text-align: center;
//  color: #fff;
//  font-size: 12px;
//  text-transform: uppercase;
//  text-decoration: none;
//  font-family: Playfair-Display;
//  box-sizing: border-box;
//  background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
//  background-size: 400%;
//  border-radius: 10px;
//  z-index: 1;
// }
// .btn-blue:hover {
//  animation: animate 8s linear infinite;
// }
// @keyframes animate {
//  0% {
//   background-position: 0%;
//  }
//  100% {
//   background-position: 400%;
//  }
// }
// .btn-blue:before {
//  content: '';
//  position: absolute;
//  top: -5px;
//  bottom: -5px;
//  right: -5px;
//  left: -5px;
//  z-index: -1;
//  background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
//  background-size: 400%;
//  border-radius: 10px;
//  filter: blur(20px);
//  opacity: 0;
//  transition: 0.5s;
// }
// .btn-blue:hover:before {
//  filter: blur(4px);
//  opacity: 1;
//  animation: animate 8s linear infinite;
// }
