// Specific CSS for your home-page
html, body {
  height: 100%;
}

body {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
}
.container {
  flex: 1 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
  border: none;
  height: 2rem;
  text-align: center;
  font-size: 19px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  background: rgba(196, 196, 196, 0.2);
}

.link {
  margin-top: 20px;
  margin-right: 20px;
}
#waves {
  position: absolute;
  width: 378px;
  height: 102px;
  left: 16px;
  top: 355px;
  opacity: 0.51;
}

#disc {
  position: absolute;
  width: 265px;
  height: 264.16px;
  left: 74px;
  top: 270.92px;
  box-shadow: inset 100px 100px 100px rgba(43, 21, 12, 0.1);
}

#disc:click {
  animation: rotate('720deg');
}

// #mixxtbtn {
//   position: absolute;
//   width: 101px;
//   height: 104px;
//   left: 86px;
//   top: 182px;
//   border-radius: 50%;
//   background: #EB7100;
//   z-index: 2;
//   color: white;
//   cursor:pointer;
// }
// #mixxtbtn::after {
//   content:'';
//   z-index:1;
//   background-color:hsla(0,0%,100%,.2);
//   position:absolute;
//   top:-50%;
//   bottom:-50%;
//   width:1.25em;
//   transform:translate3d(-1000%,0,0) rotate(35deg)
// }

// #mixxtbtn:hover::after {
//   transition:transform .45s ease-in-out;
//   transform:translate3d(200%,0,0) rotate(35deg)
// }


a{
  color: white;
}
.container-form {
  position: absolute;
  width: 274px;
  height: 48px;
  top: 169px;

  font-family: Playfair-Display;

  font-size: 24px;
  line-height: 32px;

  color: white;
  box-sizing: border-box;
  border-bottom-style: double;
}
body {
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  display: center;
}

textarea {
  box-shadow: none;
  border: none;
  height: 3rem;
  text-align: center;
  font-size: 24px;
  background: transparent;
  color: white;
  text: bold;
}

textarea:focus {
  box-shadow: none;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
}
