<h1>Songs#home</h1>
<p>Find me in app/views/songs/home.html.erb</p>
<form action="/songs" method="post">
  <input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">
  <textarea name="link" id="link" cols="30" rows="10"></textarea>
  <input type="submit" value="Mixxt">
</form>
