.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  background: rgba(196, 196, 196, 0.2);
  height: 8vh;
}

.link {
  margin-top: 20px;
  margin-right: 20px;
  text: white;
}
