.nav-icon {
  width: 40px;
  height: 40px;
  &:hover {
    filter: invert(100%) brightness(100%) contrast(100%);
  }
}

.nav-icon-head {
  width: 20px;
  height: 20px;
    &:hover {
    filter: invert(100%) brightness(100%) contrast(100%);
  }
}

.active {
  filter: invert(100%) brightness(100%);
}
