.navbar {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0;
  width: 100%;
  background: rgba(196, 196, 196, 0.2);
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
