.recognize-icon{
  font-size: 32px;
}

.recognize{
  background-color: transparent;
  border-radius: 2px;
  color: #FDAD11;
  border: none;
  position: absolute;
  top: 5.8em;
  right: 0.5em;
  font-size: 0.8em;
}
.recognize-text{
  margin-right: 5px;
}
