.recognize-icon{
  font-size: 32px;
}

.recognize{
  background-color: transparent;
  border-radius: 2px;
  color: #FDAD11;
  border: none;
  position: absolute;
  top: 5em;
  right: 5px;
  // font-size: 12px;
}
